extends layout

block content
    h1 Enter Your Words
    form(method = "POST" action="/story" id="words")
        label(for="noun1") Noun:
        input(type="text" name="noun1" id="noun1")
        br
        label(for="verb1") Verb:
        input(type="text" name="verb1" id="verb1")
        br
        label(for="adjective1") Adjective:
        input(type="text" name="adjective1" id="adjective1")
        br
        label(for="noun2") Noun:
        input(type="text" name="noun2" id="noun2")
        br
        label(for="verb2") Verb:
        input(type="text" name="verb2" id="verb2")
        br
        label(for="adjective2") Adjective:
        input(type="text" name="adjective2" id="adjective2")
        br
        label(for="noun3") Noun:
        input(type="text" name="noun3" id="noun3")
        br
        label(for="verb3") Verb:
        input(type="text" name="verb3" id="verb3")
        br
        label(for="adjective3") Adjective:
        input(type="text" name="adjective3" id="adjective3")
        br
        label(for="noun4") Noun:
        input(type="text" name="noun4" id="noun4")
        br
        label(for="verb4") Verb:
        input(type="text" name="verb4" id="verb4")
        br
        label(for="adjective4") Adjective:
        input(type="text" name="adjective4" id="adjective4")
        br
        label(for="noun5") Noun:
        input(type="text" name="noun5" id="noun5")
        br
        label(for="verb5") Verb:
        input(type="text" name="verb5" id="verb5")
        br
        label(for="adjective5") Adjective:
        input(type="text" name="adjective5" id="adjective5")
        br
        label(for="storyChoice") Chose One
        select(form="words" name="storyChoice" id="storyChoice")
            option(value = "1") Story 1
            option(value = "2") Story 2
            option(value = "3") Story 3
            option(value = "4") Pick Random Story
        br
        button(type="submit" form="words") Tell Me A Story